.container{
    display: flex;
    background-color: rgb(52, 58, 58);
    height: 100px;
    width: 100%;
    /* position: fixed;
    top:0;
    left: 0; */
}
.logo{
    width: 600px;
    text-align: center;
    padding-top:30px ;
}
.nav{
    
    width: 100%;
}
.icon{
    height: 40px;
    text-align: right;
}
.home
{
    height: 40px;
}
.blue
{
    color: rgba(18, 164, 212, 0.61);
}
.hh{
    font-size: xx-large;
    font-style: italic;
}
span{
    color: white;
}
.ic{
    color: white;
    height: 10px;
    padding: 20px;
    transition: 1s;
}
.ic:hover{
    color: orangered;
}
.ul
{
    display: flex;
    justify-content: right;
}
a{
    text-decoration: none;
    color: white;
    transition: 1s;
    padding-left: 20px;
}
a:hover{
    color: orangered;
}
.li{
    padding: 5px;
}
.air{
    /* margin-top: 100px; */
    background: url(airr.jpg);
    height: 500px;
    width: 100%;
    background-size: cover;
   background-position: 20px; 
}
.main{
    display: flex;
    height: 700px;
    width: 100%;
}
.form{
    height: 697px;
    width: 400px;
    background-color: antiquewhite;
    
}
.welcome{
    height: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}
table{
    padding-left: 15px;
    color:black;
}
input[type=button]{
    color: white;
    background-color: rgb(11, 109, 194);
    border: none;
    padding: 5px;
    height: 30px;
    width: 50px;
    border-radius:5px ;
}
.ll::marker {
    color: rgb(9, 83, 232);
}
.btn{
    border: none;
    margin-right: 10px;
}
.bb{
    background-color: rgb(48, 44, 44);
    color: white;
    outline: 5px solid rgb(48, 44, 44);
    border-radius: 1px;
}
.bl{
    background-color: rgb(49, 123, 173);
    outline: 5px solid rgb(49, 123, 173);
    color: white;
    border-radius: 1px;
}
.ourclient{
    border: 2px soli black;
    width: 60%;
    padding-left: 30px;
    
}

.side{
    height: 180px;
    background-color: rgb(62, 118, 156);
    width: 30%;
    border-radius: 5px;
    margin-left: 54px;
    text-align: center;
    padding-top: 50px;
    padding-left: 10px;
    color: white;
}
.footer{
    background-color: rgb(55, 52, 52);
    height: 100px;
    width: 100%;
    display: flex;
}
#pp{
    padding-top:40px ;
    padding-left: 10px;
    color: white;
}
.ff{
    display: inline;
    padding-left: 900px;
    word-spacing: 30px;
}